@font-face {
  font-family: "iconfont"; /* Project id 3300183 */
  src: url('iconfont.woff2?t=1650351307170') format('woff2'),
       url('iconfont.woff?t=1650351307170') format('woff'),
       url('iconfont.ttf?t=1650351307170') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renshu:before {
  content: "\e611";
}

.icon-renshu1:before {
  content: "\e740";
}

.icon-renshushuliang:before {
  content: "\e6cc";
}

.icon-renshu2:before {
  content: "\e602";
}

.icon-zhongguoditubeifen:before {
  content: "\e6b3";
}

.icon-weibiaoti-_huaban:before {
  content: "\e799";
}

.icon-yiqingjiance:before {
  content: "\e60a";
}

.icon-yiqingdashujulogo:before {
  content: "\e61f";
}

.icon-icon_yiqingsudi:before {
  content: "\e600";
}

.icon-quanguoyiqing:before {
  content: "\e65e";
}

.icon-yiqingwuzi:before {
  content: "\e6ed";
}

.icon-yiqingfabu:before {
  content: "\e69b";
}

.icon-yiqingditu-:before {
  content: "\e79e";
}

.icon-yiqingpaicha:before {
  content: "\e679";
}

.icon-yiqingtianbao:before {
  content: "\e623";
}

.icon-yiqingkepu:before {
  content: "\e61d";
}

.icon-yiqingtongji:before {
  content: "\e651";
}

.icon-yiqingguanli:before {
  content: "\e6b2";
}

.icon-Slice19:before {
  content: "\e657";
}

.icon-yiqingshangbao:before {
  content: "\e891";
}

.icon-yiqing:before {
  content: "\e668";
}

.icon-yiqingfuwu:before {
  content: "\f75f";
}

.icon-yiqingdizhi:before {
  content: "\e641";
}

.icon-kangjiyiqing:before {
  content: "\e605";
}

.icon-tubiao-yiqingqushitu:before {
  content: "\e722";
}

.icon-yiqingchaxun:before {
  content: "\e613";
}

.icon-icon_yiqingfangkong_yiqingfangkong:before {
  content: "\e601";
}

.icon-yiqing-fengkongqu:before {
  content: "\ec4a";
}

.icon-yiqing-gaofengxian:before {
  content: "\ec4b";
}

